<div class="container" >
    <div class="card">
        <div class="card-header">Hello {{data.name}}</div>
        <div class="card-body">
    <div class="row">
     <div class="col-lg-6 col-md-6 col-sm-12">
       <label>Id</label>:{{data.id}}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <label>Father Name</label>:{{data.fathername}}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <label>Email</label>: {{data.email}} 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <label>Contact No</label>:{{data.contactno}} 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <label>gender</label>:{{data.gender}}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
     <label>Branch</label>:{{data.branch}} 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <label>Course</label>: {{data.course}} 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <label>Teacher Name</label>:   {{data.teachername}} 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <label>Date Of Birth</label>:{{data.dateofbirth}} 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <label>Address</label>:{{data.address}} 
    </div>
    </div>
   </div>
   </div>
   </div>