<div class="container">
      
     
          
          
              <form #f = "ngForm">
                <div class="form-group">
                  <label for="inputtitle">Title</label>
                  <input type="text" name="title" #t = "ngModel" [(ngModel)]="title"
                  class="form-control">
                </div>
                <div class="form-group">
                  <label for="inputcourseid">CourseId</label>
                  <select  class="form-control" name="courseid"  #n ="ngModel"
                  [(ngModel)]="courseid">
                       <option value="Select">Select</option>
                      <option *ngFor = "let d of datas">
                          {{d.courseid}}
                      </option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="inputfile">Upload Files:</label>
                  <input type="file" class="form-control" id=file 
                  (change)="getAssignment($event)">
                </div>
               <div class="form-group">
                 <label for="indescription">Description</label>
                 <textarea name="description" #d ="ngModel" [(ngModel)] ="description" 
                 class="form-control" 
                 id="description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="f.invalid"
                (click)="postData()">Submit</button>
                <button class="btn btn-primary" style="margin-left: 8px;" (click)="viewassignment()">View Assignment</button>
              </form>
          
            
    </div>
    