/* table{
    width: 500px; 
    border-collapse: collapse;
    margin: 30px 0px 30px;
    background-color: #fff;
    font-size: 14px;
    }
   table tr {
    height: 40px;
    }
   table th {
    background: #333;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
   }
   table td, th {
    padding: 6px 6px 6px 10px;
    border: 1px solid #ccc;
    text-align:center;
   }
    
 
   table tr:nth-of-type(odd) {
    background: #eee;
   }
    
 
   .css-serial {
    counter-reset: serial-number; 
   }
   .css-serial td:first-child:before {
    counter-increment: serial-number; 
    content: counter(serial-number); 
   } */

   